<div class="chat-message">

	<div class="user-info">forsrc@gmail.com</div>

	<div class="messages-container">
		<ul>
			<li style="flex-direction:row">
				<img src="../../assets/images/logo.jpg" class="avatar" width="36px" height="37px" />
				<span class="speech-bubble">hi</span>
			</li>
			<li style="flex-direction:row-reverse">
				<img src="../../assets/images/logo.jpg" class="avatar" width="36px" height="37px" />
				<span class="speech-bubble-own">hello</span>
			</li>
		</ul>
	</div>
	<div>
		<form>
			<mat-form-field class="message-text">
				<textarea #messageInput matInput placeholder="Type message..."></textarea>
			</mat-form-field>
			<button class="send-message-button" mat-icon-button type="submit" aria-label="Send message">
				<mat-icon class="secondary-text">send</mat-icon>
			</button>
		</form>
	</div>
</div>