<div class="chat-user-list">

	<ul>
		<li>
			<a mat-icon-button class="my-navbar-show-small" href="https://github.com/forsrc/MyAngularMaterial"
				aria-label="GitHub Repository">
				<img class="my-angular-logo avatar" src="../../assets/images/logo.jpg" alt="angular">
			</a>forsrc@gmail.com
		</li>
		<li>
			<a mat-icon-button class="my-navbar-show-small" href="https://github.com/forsrc/MyAngularMaterial"
				aria-label="GitHub Repository">
				<img class="my-angular-logo avatar" src="../../assets/images/logo.jpg" alt="angular">
			</a>test@gmail.com
		</li>
	</ul>
</div>