<!-- TODO: figure out if the <nav> should go inside of a <header> element. -->
<nav class="docs-navbar-header">
  <a mat-button class="docs-button" routerLink="/" aria-label="Angular Material">
    <img class="docs-angular-logo avatar"
         src="../../assets/images/logo.jpg"
         alt="angular">
    <span>Material</span>
  </a>
  <a mat-button class="docs-navbar-hide-small docs-button" href="/login">
    <mat-icon class="icon">input</mat-icon>
    <span class="label">LOGIN</span>
  </a>
  <a mat-button class="docs-navbar-hide-small docs-button" href="/home" >
    <mat-icon class="icon">home</mat-icon>
    <span class="label">HOME</span>
  </a>
  <div class="flex-spacer"></div>

  <a mat-button class="docs-button docs-navbar-hide-small" href="https://github.com/forsrc/MyAngularMaterial"
     aria-label="GitHub Repository">
    <img class="docs-angular-logo avatar"
         src="../../assets/images/logo.jpg"
         alt="angular">
    GitHub
  </a>
  <a mat-icon-button class="docs-button docs-navbar-show-small"
     href="https://github.com/forsrc/MyAngularMaterial" aria-label="GitHub Repository">
    <img class="docs-angular-logo avatar"
         src="../../assets/images/logo.jpg"
         alt="angular">
  </a>
</nav>
<nav class="docs-navbar docs-navbar-show-small">
  <a mat-button class="docs-navbar-link">sections</a>
  <a mat-button class="docs-navbar-link" routerLink="guides">Guides</a>
</nav>
