<div class="container">
  <h3 mat-dialog-title>{{ title }} <mat-icon color="primary" aria-label="edit">edit</mat-icon> Username: {{ user.username }}</h3>

  
 
      <mat-form-field class="w-100">
            <input matInput placeholder="Username" value="{{user.username}}">
      </mat-form-field>
      <mat-form-field class="w-100">
            <input matInput placeholder="Password" value="{{user.password}}" [(ngModel)]="user.password" >
      </mat-form-field>

      <section mat-dialog-actions align="end" class="md-button-right">
            <button color="primary" mat-raised-button cdkFocusInitial [mat-dialog-close]="user"> Confirm </button>
            <button color="primary" mat-button cdkFocusInitial mat-dialog-close> Cancel </button>
      </section>
 
   
</div>
